<div *ngIf="!meetingVisable">
  <h3>Channel: {{channelName}}</h3>

  <mat-card class="kvc-video-toolbar">
    <button *ngIf="microphonePaused" (click)="unmuteAudio($event)" class="fa fa-microphone" aria-hidden="true"></button>
    <button *ngIf="!microphonePaused" (click)="muteAudio($event)" class="fa fa-microphone-slash" aria-hidden="true"></button>
    <button *ngIf="videoPaused" (click)="resumeVideo($event)" class="fa fa-video-camera" aria-hidden="true"></button>
    <button *ngIf="!videoPaused" (click)="pauseVideo($event)" class="fa fa-pause" aria-hidden="true"></button>
    <button (click)="startSharescreen($event)" class="fa fa-window-restore" aria-hidden="true"></button>
  </mat-card>

  <div id="fullscreenPanel" class="kvc-fullscreen-video">
    <canvas id="fullscreenVideo"></canvas>
  </div>


  <div id="localScreenContainer" class="kvc-local-screen"></div>
  <div id="remotes" class="kvc-remote-video-container">
  <div class="kvc-video-container">
      <video id="localVideo"></video>
  </div>
  </div>
</div>
