h3 {
    color: #ffffff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.kvc-video-toolbar {
    width: 110px;
    height: 20px;
    opacity: 0.6;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 105px;
}